
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@2,600;1,300;0,100;&display=swap');

*{
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    min-height: 100dvh;
    background-color: rgb(255, 253, 250);
    color: hsl(145, 60%, 25%);
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
    margin: 1.5rem 0;
}

.bigText {
    font-size: 1.5rem;
    font-weight: bolder;
    color: hsl(0, 30%, 25%);
    text-decoration: none;
}

.game {
    margin: 0 15%;
    justify-content: center;
    gap: 3rem;
    flex: 1;
}

.gameText {
    gap: 1rem;
}

.log {
    flex-direction: column;
}

.choices {
    justify-content: space-between;
    gap: 1rem;
}

button {
    flex: 1;
    gap: 1rem;

    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;

    color: rgb(255, 253, 250);
    background-color: hsl(36, 100%, 63%);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;

    transition: all 300ms;
}

button:hover {
    background-color: hsl(36, 100%, 50%);
}

@media only screen and (min-width: 980px) {
    body {
        padding: 0 20%;
        font-size: 24px;
    }

    header { text-align: left; }

    footer { text-align: right; }

    .game {
        margin: 0 40% 0 10%;
    }

    .choices {
      flex-direction: row;
    }
  }