@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;700&display=swap');

*{
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    min-height: 100dvh;
    background-color: rgb(255, 253, 250);
    color: hsl(145, 60%, 25%);
}

.flex {
    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
    margin: 1.5rem 0;
}

.bigText {
    font-size: 1.5rem;
    font-weight: bolder;
    color: hsl(0, 30%, 25%);
    text-decoration: none;
}

.game {
    visibility: hidden;
    opacity: 0;
    margin: 0 15%;
    justify-content: center;
    gap: 3rem;
    flex: 1;
    transition: all 1s;
}

.gameText {
    gap: 1rem;
}

.choices {
    justify-content: space-between;
    gap: 1rem;
}

.menu {
    position: fixed;
    top: 50%;
    align-self: center;
    text-align: center;
    gap: 2rem;
};

.start {
    font-size: 2rem;
    visibility: visible;
    align-self: center;
    max-width: fit-content;
    transition: all 500ms;
}

button {
    flex: 1;
    gap: 1rem;

    font-size: 1.5rem;
    text-align: center;

    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;

    transition: all 300ms;
}

.greenButton {
    color: rgb(255, 253, 250);
    background-color: hsl(118, 50%, 40%);
}
.greenButton:hover {
    background-color: hsl(118, 50%, 35%); 
}

.yellowButton {
    color: rgb(255, 253, 250);
    background-color: hsl(36, 100%, 63%);
}
.yellowButton:hover {
    background-color: hsl(36, 100%, 50%); 
}

@media only screen and (min-width: 980px) {
    body {
        padding: 0 12.5%;
        font-size: 24px;
    }

    header { text-align: left; }

    footer { text-align: right; }

    .game {
        margin: 0 40% 0 10%;
    }

    .choices {
      flex-direction: row;
    }
  }